$std-transition: 0.2s ease-out;
$green: #80be9c;
$dark-green: darken($green, 20);
$dark-gray: #444;

$std-size: 5rem;
$micro-size: 1rem;

$std-indent: 2rem;
$big-indent: 5rem;
$micro-indent: 1rem;

$std-text-size: 2rem;